@model List<RentACar.EntityLayer.Concrete.Brand>
@{
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Marka</th>
            <th>Durum</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
        @foreach (var item in Model)
    {
        count++;
        <tr>
                <td>@count</td>
                <td>@item.BrandName</td>
                <td>@item.Status</td>
            <td><a href="/Brand/UpdateBrand/@item.BrandID" class="btn btn-secondary">Güncelle</a></td>
                <td><a href="/Brand/DeleteBrand/@item.BrandID" class="btn btn-danger">Sil</a></td>
            </tr>
        }
    </table>
    <br />
    <a href="/Brand/AddBrand" class="btn btn-success">Yeni Marka Girişi</a>

